body{
    background-color: rgb(224, 217, 195);
}
 a{
            color: rgb(174, 52, 52);
        }
        a:hover{
            color: #2d2a2a;
        }
        hr{
            border: 2px solid #000000;
        }
        img{
            width: 30%;/*Largura*/
            height: auto;/*Altura*/
            border-radius: 5px;/*Arredondar as bordas*/
            box-shadow: 3px 3px 5px #403d3d;/*Valor1 e valor2 são projeções da sombra, valor3 espalhamento da sombra, cor da sombra*/
        }